<h2>Templates</h2>
<ul>
  <li *ngFor="let template of templates">
    {{template.name}} created by {{template.creatorId}}
    <ul>
      <li *ngFor="let section of template.sections">
        {{section.name}} - {{section.desc}}
        <ul>
          <li *ngFor="let exercise of section.exercises">
            {{exercise.name}}
              <ul>
                <li *ngFor="let option of exercise.options">
                  {{option.name}}
                </li>
                <button (click)="newOption(exercise.name, section.name, template.id)">
                New Option
                </button>
              </ul>
          </li>
          <button (click)="newExercise(section.name, template.id)">
          New Exercise
          </button>
        </ul>
      </li>
      <button (click)="newSection(template.id)">
      New Section
      </button>
    </ul>
  </li>
</ul>